@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

html {
  background: #f7f1f1;
}

body {
  width: 100vw;
  max-width: 500px;
  min-height: 100vh;
  margin: auto;
  background: white;
}

.menu {
  max-width: 500px;
  margin: auto;
  height: auto;
}


.cat {
  height: 50px;
  color: rgb(255, 208, 0);
  background-color: black;
  background-size: cover;
  background-position: 50%;
  border-top: 2px solid white;
  & h1 {
    font-size: 1.5rem;
    margin: 10px    
  }
  &.cat-van {
    background-image:linear-gradient(90deg,rgb(0, 0, 0),rgba(0, 0, 0, 0.300)),url('/img/cat-van.png');
  }

  &.cat-awd {
    background-image: linear-gradient(90deg,rgb(0, 0, 0),rgba(0, 0, 0, 0.3)),url('/img/cat-4wd.png');
  }

  &.cat-car {
    background-image: linear-gradient(90deg,rgb(0, 0, 0),rgba(0, 0, 0, 0.3)),url('/img/cat-car.png')
  }
}

.vehicle {
  margin-bottom: 5px;
}

.vehicle-img {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .vehicle-name {
    background-color: #c20605;
    color: white;
    margin-bottom: 0;
  }

  .price {
    font-family: 'Oswald';
    font-size: 1.5rem;
    margin: 5% 0;
    color: rgb(78, 76, 73);
    & span {
      font-size: .75rem;
      color: rgba(231, 19, 19, 0.50);
    };
  }

  .capacity {
    color: #ffb700;
    font-size: 1.5em;
    margin: 5% 0;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: rgb(46, 46, 46);
    
  & span {
    font-family: 'helvetica';
    font-weight: bold;
    margin-right: -22px;
  }
    & .fa-male {
      margin-right: -4px !important;
    }
  
    & .fa-times {
      margin-left: 7px;
  
    }
  }

  .specs li {
    border-bottom: 1px solid grey;
    & .fad {
      color: red;
    }
  }
